{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <!-- <a href="{{ '/blog' | relative_url }}" {% if current[1] == 'blog' %}class="active"{% endif %}><i class="fa fa-comment"></i> Blog</a> -->
    <!-- <a href="{{ '/cv.html' | relative_url }}"><i class="fa fa-user"></i> CV</a> -->

    <span class="spacer"></span>

    <span class="external">
      <a href="https://mcb.uj.edu.pl/en_GB/"><img src="images/mcb_icon.png" style="width:1em; height:1em;"></img><span class="name"> MCB UJ</span></a>
      <a href="mailto:tomasz@tomaszlab.org" target="_blank" rel="noopener"><i class="far fa-envelope"></i><span class="name"> contact</span></a>
    <span>
  </nav>
</header>
