.projects {
  h1 {
    margin-top: 10px;
    font-size: 1.8em;
    line-height: 1.1em;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: none;
  }

  .columns {
    display: flex;
    flex-direction: row;

    .intro {
      flex: 1;
      font-size: 1.0em;
      justify-content: center;
    }

    .protein {
      margin-left: $spacing-unit;
      margin-bottom: $spacing-unit;

      font-size: 0.9em;
      text-align: center;

      img {
        width: 400px;
        height: 400px;
        border-radius: 5px;
      }
    }
  }